-@ val base:String = uri("/")
-@ val version:String = com.liquidlabs.dashboard.server.DashboardProperties.getStartTime
script(src={uri("/javascripts/lang.js?1999")} type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery.json-2.3.min.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery.websocket-0.0.1.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery.highlight.js?v=#{version}" type="text/javascript")


// date time picker need to override
script(src="#{base}javascripts/libs/bootstrap/bootstrap-datetimepicker.min.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery-ui-1.9.2.custom.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/bootstrap/bootstrap-datetimepicker.min.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery.jeditable.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery.gridster.with-extras.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery.sparkline.js?v=#{version}" type="text/javascript")

script(src="#{base}javascripts/libs/jquery/messenger.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/messenger-theme-flat.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/messenger-theme-future.js?v=#{version}" type="text/javascript")



script(src="#{base}javascripts/libs/jquery/jquery.kinetic.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery-scrollable.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery.simple-color.min.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/debiki-utterscroll.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/nanoScroller.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery.gracefulWebSocket.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/xmlToJson.js?v=#{version}" type="text/javascript")

script(src="#{base}javascripts/libs/detect-zoom.js?v=#{version}" type="text/javascript")

/ script(src="#{base}javascripts/libs/jquery/jquery-ui-timepicker-addon.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/jquery.html5_upload.js?v=#{version}" type="text/javascript")

script(src="#{base}javascripts/libs/ace/ace.js?v=#{version}" type="text/javascript" charset="utf-8")
script(src="#{base}javascripts/libs/ace/ext-modelist.js?v=#{version}" type="text/javascript" charset="utf-8")
script(src="#{base}javascripts/libs/ace/mode-html.js?v=#{version}" type="text/javascript" charset="utf-8")


script(src="#{base}javascripts/libs/bootstrap/bootstrap-tooltip.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/bootstrap/bootstrap-popover.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/bootstrap/bootstrapx-clickover.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/bootstrap/bootstrap-button.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/bootstrap/bootstrap-modal.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/bootstrap/bootstrap-tab.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/bootstrap/bootstrap-transition.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/bootstrap/bootstrap-collapse.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/bootstrap/bootstrap-dropdown.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/bootstrap/bootbox.js?v=#{version}" type="text/javascript"  charset="utf-8")
//script(src="#{base}javascripts/libs/bootstrap/bootstrap-typeahead.js?v=#{version}" type="text/javascript")
//script(src="#{base}javascripts/libs/bootstrap/bootstrap-combobox.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/d3/d3.js?v=#{version}" charset="utf-8" type="text/javascript")
script(src="#{base}javascripts/libs/d3/c3.min.js?v=#{version}" charset="utf-8" type="text/javascript")
script(src="#{base}javascripts/libs/d3/topojson.v1.min.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/d3/datamaps.world.min.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/d3/d3pie.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/echarts-all.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/nvd3/nv.d3.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/rickshaw/rickshaw.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/underscore/underscore-min.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/scroll.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/logscape.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/nav.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/theme-switcher.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/menu.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/history.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/websocket.js?v=#{version}" type="text/javascript")

script(src="#{base}javascripts/libs/ace/ace.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/ace/mode-plain_text.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/ace/mode-json.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/ace/mode-abap.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/ace/mode-less.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/ace/worker-json.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/ace/theme-monokia.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/ace/theme-twilight.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/ace/theme-chaos.js?v=#{version}" type="text/javascript")


script(src="#{base}javascripts/admin.main.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.datasource.timetester.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.datasource.browse.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.datasource.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.datatype.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.datatype.open.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.deployment.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.import-export.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.agents.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.users.config.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.users.dgroup.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.users.security.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/datasource.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.alerts.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/admin.js?v=#{version}" type="text/javascript")

script(src="#{base}javascripts/user.js?v=#{version}" type="text/javascript")


script(src="#{base}javascripts/searchie.rickshaw.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.table.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.spark.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.nvpie.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.d3pie.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.echarts.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.c3.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.d3datamap.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.facinata.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.opensearch.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.chartselector.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.workspace.filter.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.workspace.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.openworkspace.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.control.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.datasource.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/rsearchie.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/explore/explore.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/explore/tabs.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/notifications.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/chart.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/chart.openlightbox.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/searchie.opensearch.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/controller.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/clock.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/value.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/filter.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/event.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/eventSlick.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/text.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/jmx/attribute.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/widgets/jmx/operation.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/session.heartbeat.js?v=#{version}" type="text/javascript")

/ Hubspot
script(src="#{base}javascripts/libs/jquery/tether.min.js?v=#{version}" type="text/javascript")
script(src="#{base}javascripts/libs/jquery/drop.min.js?v=#{version}" type="text/javascript")



/ Data Tables
script( type="text/javascript" src="#{base}javascripts/libs/datatables/jszip.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/jquery.dataTables.js?v=#{version}")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/dataTables.bootstrap.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/dataTables.autoFill.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/autoFill.bootstrap.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/dataTables.buttons.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/buttons.bootstrap.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/buttons.colVis.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/buttons.html5.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/dataTables.fixedHeader.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/dataTables.scroller.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/dataTables.select.js")
script( type="text/javascript" src="#{base}javascripts/libs/datatables/dataTables.colReorder.min.js?v=#{version}" )

/ script(src="#{base}javascripts/libs/datatables/jquery.dataTables.js?v=#{version}" type="text/javascript")
/ script(src="#{base}javascripts/libs/datatables/dataTables.bootstrap.js?v=#{version}" type="text/javascript")

/ script(src="#{base}javascripts/libs/datatables/jquery.dataTables.rowGrouping.js?v=#{version}" type="text/javascript")

/Datatables Popup
script( type="text/javascript" src="#{base}javascripts/widgets/event-popup.js")
